* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #090b0b;
    color: #FFF;
    font-family:Poppins,sans-serif
    /*font-family:Roboto,sans-serif*/
}
.container {
    width: 1170px;
    display: flex;
    justify-content: space-between;
}
header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    width: 87px;
    height: 18px;
}
header ul, li {
    display: flex;
    padding-left: 50px;
}
header ul li a {
    text-decoration: none;
    color: #FFF;
    align-items: center;
    border-bottom: 2px solid transparent;
}
header ul li a:hover {
    border-bottom: 2px solid aqua;
}
.home-banner {
    display: flex;
    height: 420px;
    justify-content: center;
    align-items: center;
}
.home-banner article {
    flex: 1;
}
.home-banner article h1 {
    font-size: 55px;
    font-weight: 600;
}
.home-banner article h1 span {
    color: aqua;
}
.title-banner {
    line-height: 65px;
}
.text-banner {
    line-height: 30px;
    color: #9a9a9a;
}
.home-posts {
    display: flex;
    justify-content: center;
}
.column {
    display: flex;
    flex-direction: column;
}
.home-posts-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.home-posts-header li{
    display: inline;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 5px 0px 0px;
}
.home-posts-header ul li a{
    text-decoration: none;
    color: #FFF;
}
.home-posts-header ul li:last-child:after {
    content: none;
}
.home-posts-header ul li::after {
    font-size: 9px;
    content: " /";
    padding-left: 7px;
}
.home-posts-header h1 {
    font-size: 20px;
    font-weight: 500;
}
.home-posts-header .selected a {
    color: aqua;
}
.block-container-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block-container-content img {
    width: 350px;
}
.block-container-content article {
    margin-bottom: 50px;
}
.block-container-content h2 {
    font-size: small;
    font-weight: 100;
}
.block-container-content h1 {
    font-weight: 500;
}
footer {
    display: flex;
    justify-content: center;
}
.footer-info {
    margin-top: 50px;
    justify-content: center;
}

.footer-info h1 {
    font-size: 125px;
    font-weight: 600;
    color: #0d0f0f;
}
.footer-info h2 {
    font-size: 50px;
    position: absolute;
    line-height: 187px;
    font-weight: 100;
}
.footer-info h2 a { 
    text-decoration: none;
    color: #fff;
}
.footer-info h2 a:hover {
    color: aqua;
    transition: 1s;
}